In [1]:
import numpy as np #import numpy library
import pandas as pd #import pandas library
import matplotlib.pyplot as plt #import matplot library
%matplotlib inline

import glob
import os

In [4]:
 def loadMetricData(user, directory):
    path =  user + "/" + directory + "/"
#     print(path)
    all_files = glob.glob(os.path.join(path, "*.csv")) 
#     print(all_files)
    data = pd.DataFrame()
    list_ = []
    for file_ in all_files:
        data = pd.read_csv(file_,index_col=None, header=0)
        list_.append(data)
        data = pd.concat(list_)
    return data

In [47]:
# # clean times function
def cleanTime(df, col):
    df.col = pd.to_datetime(df.col)

In [48]:
# # replace NAN's
# def rmNAN(df, col):
#     df.col = df.col.fillna(0)

In [49]:
sarahMetrics = loadMetricData('sarahYee', "metrics")
sarahMetrics.tail(5)

,timestamp,heartrate,steps,calories,gsr,skintemp,airtemp
1435,2016-05-04 23:55:00,71,0,0.9,0.000067,93.2,93.2
1436,2016-05-04 23:56:00,69,0,1.0,0.000067,94.1,94.1
1437,2016-05-04 23:57:00,68,0,0.9,0.000069,94.1,94.1
1438,2016-05-04 23:58:00,66,0,1.0,0.000071,94.1,94.1
1439,2016-05-04 23:59:00,65,0,0.9,0.000067,94.1,94.1

In [50]:
sarahMetrics.dtypes

timestamp     object
heartrate    float64
steps        float64
calories     float64
gsr          float64
skintemp     float64
airtemp      float64
dtype: object

In [55]:
# clean metric data

sarahMetrics.timestamp = pd.to_datetime(sarahMetrics.timestamp)

sarahMetrics.heartrate = sarahMetrics.heartrate.fillna(0)
sarahMetrics.steps = sarahMetrics.steps.fillna(0)
sarahMetrics.calories = sarahMetrics.calories.fillna(0)
sarahMetrics.gsr = sarahMetrics.gsr.fillna(0)
sarahMetrics.skintemp = sarahMetrics.skintemp.fillna(0)
sarahMetrics.airtemp = sarahMetrics.airtemp.fillna(0)

sarahMetrics.head(5)

            timestamp  heartrate  steps  calories  gsr  skintemp  airtemp
0 2016-04-22 00:00:00          0      0         0    0         0        0
1 2016-04-22 00:01:00          0      0         0    0         0        0
2 2016-04-22 00:02:00          0      0         0    0         0        0
3 2016-04-22 00:03:00          0      0         0    0         0        0
4 2016-04-22 00:04:00          0      0         0    0         0        0

In [56]:
sarahActivities = loadMetricData('sarahYee', "activities")
sarahActivities.tail(5)

,start time,start time ISO,start time timezone,start time offset,end time,end time ISO,end time timezone,end time offset,type,actual seconds,steps,calories,minutes,heart rate avg,heart rate min,heart rate max,state,version,id
2,5/4/16 19:19,2016-05-04T19:19:07Z,America/New_York,-240,5/4/16 19:29,2016-05-04T19:29:20Z,America/New_York,-240,walk,380,904,17.400000,10.216667,109.357895,NaN,NaN,complete,1,walk__2016-05-04T191907
3,5/4/16 19:52,2016-05-04T19:52:24Z,America/New_York,-240,5/4/16 19:57,2016-05-04T19:57:53Z,America/New_York,-240,walk,235,533,7.100000,5.483333,96.454544,NaN,NaN,complete,1,walk__2016-05-04T195224
4,5/4/16 20:26,2016-05-04T20:26:49Z,America/New_York,-240,5/4/16 20:34,2016-05-04T20:34:34Z,America/New_York,-240,walk,188,345,6.400000,7.750000,106.696808,NaN,NaN,complete,1,walk__2016-05-04T202649
5,5/4/16 20:38,2016-05-04T20:38:37Z,America/New_York,-240,5/4/16 20:44,2016-05-04T20:44:05Z,America/New_York,-240,walk,184,340,16.200001,5.466667,133.668472,NaN,NaN,complete,1,walk__2016-05-04T203837
6,5/5/16 0:48,2016-05-05T00:48:54Z,America/New_York,-240,5/5/16 0:55,2016-05-05T00:55:25Z,America/New_York,-240,walk,311,725,14.000000,6.516667,103.729904,NaN,NaN,complete,1,walk__2016-05-05T004854

In [57]:
sarahSleep = loadMetricData('sarahYee', "sleep")
sarahSleep.tail(5)

,start time,start time ISO,start time timezone,start time offset,end time,end time ISO,end time timezone,end time offset,light mins,deep mins,...,toss turns,type,actual seconds,calories,heart rate avg,heart rate min,heart rate max,state,version,id
0,2016-05-01 04:45:50,2016-05-01T04:45:50Z,America/New_York,-240,2016-05-01 12:43:50,2016-05-01T12:43:50Z,America/New_York,-240,219,124,...,32,sleep,28080,482.799988,67.618942,NaN,NaN,complete,2,sleep__2016-05-01T044550
0,2016-05-02 04:35:21,2016-05-02T04:35:21Z,America/New_York,-240,2016-05-02 10:51:21,2016-05-02T10:51:21Z,America/New_York,-240,195,105,...,26,sleep,22560,333.364014,66.956131,NaN,NaN,complete,2,sleep__2016-05-02T043521
0,2016-05-03 03:43:04,2016-05-03T03:43:04Z,America/New_York,-240,2016-05-03 10:17:04,2016-05-03T10:17:04Z,America/New_York,-240,200,77,...,36,sleep,22980,362.299988,70.224983,NaN,NaN,complete,2,sleep__2016-05-03T034304
0,2016-05-04 03:35:37,2016-05-04T03:35:37Z,America/New_York,-240,2016-05-04 11:30:37,2016-05-04T11:30:37Z,America/New_York,-240,223,148,...,34,sleep,28500,448.600006,69.207352,NaN,NaN,complete,2,sleep__2016-05-04T033537
0,2016-05-04 11:50:37,2016-05-04T11:50:37Z,America/New_York,-240,2016-05-04 12:22:37,2016-05-04T12:22:37Z,America/New_York,-240,31,0,...,1,sleep,1920,30.400000,70.055222,NaN,NaN,complete,2,sleep__2016-05-04T115037

In [58]:
sarahSleep.dtypes

start time              object
start time ISO          object
start time timezone     object
start time offset        int64
end time                object
end time ISO            object
end time timezone       object
end time offset          int64
light mins               int64
deep mins                int64
rem mins                 int64
interruption mins        int64
unknown mins             int64
interruptions            int64
toss turns               int64
type                    object
actual seconds           int64
calories               float64
heart rate avg         float64
heart rate min         float64
heart rate max         float64
state                   object
version                  int64
id                      object
dtype: object

In [76]:
sarahJournal = loadMetricData('sarahYee', "journal")
sarahJournal.tail(5)

,starttime,endtime,date,start,end,activity,location,generalemo,qualitative,excited,happy,calm,anxious,sad,angry,hungry,tired,bored
122,2016-05-03 15:45:00,2016-05-03 16:00:00,5/3/16,3:45:00 PM,4:00:00 PM,sitting with sally,5th floor cage,calm,NaN,NaN,NaN,4,2,NaN,NaN,NaN,5,NaN
123,2016-05-03 16:30:00,2016-05-03 17:30:00,5/3/16,4:30:00 PM,5:30:00 PM,getting mothers day cards/dads bday card,out and about,tired,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,5,NaN
124,2016-05-03 18:30:00,2016-05-03 18:40:00,5/3/16,6:30:00 PM,6:40:00 PM,realized i forgot to get something to bring fo...,out and about,tired,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,5,NaN
125,2016-05-03 07:40:00,2016-05-03 20:00:00,5/3/16,7:40:00 AM,8:00:00 PM,nap,home,tired,NaN,NaN,NaN,NaN,4,4,NaN,NaN,5,NaN
126,2016-05-03 20:48:00,2016-05-03 09:15:00,5/3/16,8:48:00 PM,9:15:00 AM,exercise (shorter than usual... tired),home,dying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
sarahJournal.dtypes

starttime       object
endtime         object
date            object
start           object
end             object
activity        object
location        object
generalemo      object
qualitative     object
excited        float64
happy          float64
calm           float64
anxious        float64
sad            float64
angry          float64
hungry         float64
tired          float64
bored          float64
dtype: object

In [78]:
# clean metric data
sarahJournal.starttime= pd.to_datetime(sarahJournal.starttime)
sarahJournal.endtime= pd.to_datetime(sarahJournal.endtime)


# sarahJournal.qualitative = sarahJournal.qualitative.convert_objects(convert_numeric=True)
# sarahJournal.excited = sarahJournal.excited.convert_objects(convert_numeric=True)
# sarahJournal.happy = sarahJournal.happy.convert_objects(convert_numeric=True)

sarahJournal.qualitative = sarahJournal.qualitative.fillna(0)
sarahJournal.excited = sarahJournal.excited.fillna(0)
sarahJournal.happy = sarahJournal.happy.fillna(0)
sarahJournal.calm = sarahJournal.calm.fillna(0)
sarahJournal.anxious = sarahJournal.anxious.fillna(0)
sarahJournal.sad = sarahJournal.sad.fillna(0)
sarahJournal.angry = sarahJournal.angry.fillna(0)
sarahJournal.hungry = sarahJournal.hungry.fillna(0)
sarahJournal.tired = sarahJournal.tired.fillna(0)
sarahJournal.bored = sarahJournal.bored.fillna(0)

print(sarahJournal.shape)
sarahJournal.head(5)
# sarahJournal.tail(5)

(127, 18)

,starttime,endtime,date,start,end,activity,location,generalemo,qualitative,excited,happy,calm,anxious,sad,angry,hungry,tired,bored
0,2016-04-22 13:48:00,2016-04-22 16:12:00,4/22/16,1:48:00 PM,4:12:00 PM,writing thesis,barb's office,anxious,6,0,0,0,0,0,0,0,0,0
1,2016-04-22 16:12:00,2016-04-22 17:15:00,4/22/16,4:12:00 PM,5:15:00 PM,writing thesis,barb's office,anxious,6,0,0,0,0,0,0,0,0,0
2,2016-04-22 17:15:00,2016-04-22 19:05:00,4/22/16,5:15:00 PM,7:05:00 PM,eating russian dumplings with annie then watch...,5th floor lounge,happy,10,0,0,0,0,0,0,0,0,0
3,2016-04-22 19:05:00,2016-04-22 19:15:00,4/22/16,7:05:00 PM,7:15:00 PM,photofeast,3rd floor,excited/anxious,3-May,0,0,0,0,0,0,0,0,0
4,2016-04-22 19:15:00,2016-04-22 19:25:00,4/22/16,7:15:00 PM,7:25:00 PM,naked picture of charles in photofeast,3rd floor,what can only be described as traumatic shock,10,0,0,0,0,0,0,0,0,0

In [109]:

sarahJournal['boolexcited'] =  sarahJournal['excited'] > 0
sarahJournal['boolhappy'] =  sarahJournal['happy'] > 0
sarahJournal['boolcalm'] =  sarahJournal['calm'] > 0
sarahJournal['boolanxious'] =  sarahJournal['anxious'] > 0
sarahJournal['boolsad'] =  sarahJournal['sad'] > 0
sarahJournal['boolangry'] =  sarahJournal['angry'] > 0
sarahJournal['booltired'] =  sarahJournal['tired'] > 0
sarahJournal['boolhungry'] =  sarahJournal['hungry'] > 0
sarahJournal['boolbored'] =  sarahJournal['bored'] > 0


for i in range(0, sarahJournal.shape[0]):
#     sarahJournal['intqual'] = int(sarahJournal.iloc[i, 8])
    sarahJournal['intexcited'] = int(sarahJournal.iloc[i, 9])
    sarahJournal['inthappy'] = int(sarahJournal.iloc[i, 10]) 
    sarahJournal['intcalm'] = int(sarahJournal.iloc[i, 11])
    sarahJournal['intanxious'] = int(sarahJournal.iloc[i, 12])
    sarahJournal['intsad'] = int(sarahJournal.iloc[i, 13]) 
    sarahJournal['intangry'] = int(sarahJournal.iloc[i, 14]) 
    sarahJournal['inttired'] = int(sarahJournal.iloc[i, 15]) 
    sarahJournal['inthungry'] = int(sarahJournal.iloc[i, 16]) 
    sarahJournal['intbored'] = int(sarahJournal.iloc[i, 17]) 
    
sarahJournal['exercise'] = sarahJournal['activity'].str.contains('exercise')
sarahJournal['thesis'] = sarahJournal['activity'].str.contains('thesis')
sarahJournal['sally'] = sarahJournal['activity'].str.contains('sally')
sarahJournal['barb'] = sarahJournal['activity'].str.contains('barb')
sarahJournal['sol'] = sarahJournal['activity'].str.contains('sol')
sarahJournal['arash'] = sarahJournal['activity'].str.contains('arash')

sarahJournal['home'] = sarahJournal['location'].str.contains('home')
sarahJournal['work'] = sarahJournal['location'].str.contains("barb's office")




boolexcited = sarahJournal.iloc[:, 18].values.reshape(sarahJournal.shape[0], 1)
boolhappy = sarahJournal.iloc[:, 19].values.reshape(sarahJournal.shape[0], 1)
boolcalm = sarahJournal.iloc[:, 20].values.reshape(sarahJournal.shape[0], 1)
boolanxious = sarahJournal.iloc[:, 21].values.reshape(sarahJournal.shape[0], 1)
boolsad = sarahJournal.iloc[:, 22].values.reshape(sarahJournal.shape[0], 1)
boolangry = sarahJournal.iloc[:, 23].values.reshape(sarahJournal.shape[0], 1)
booltired = sarahJournal.iloc[:, 24].values.reshape(sarahJournal.shape[0], 1)
boolhungry = sarahJournal.iloc[:, 25].values.reshape(sarahJournal.shape[0], 1)
boolbored = sarahJournal.iloc[:, 26].values.reshape(sarahJournal.shape[0], 1)
intexcited = sarahJournal.iloc[:, 27].values.reshape(sarahJournal.shape[0], 1)
inthappy = sarahJournal.iloc[:, 28].values.reshape(sarahJournal.shape[0], 1)
intcalm = sarahJournal.iloc[:, 29].values.reshape(sarahJournal.shape[0], 1)
intanxious = sarahJournal.iloc[:, 30].values.reshape(sarahJournal.shape[0], 1)
intsad = sarahJournal.iloc[:, 31].values.reshape(sarahJournal.shape[0], 1)
intangry = sarahJournal.iloc[:, 32].values.reshape(sarahJournal.shape[0], 1)
inttired = sarahJournal.iloc[:, 33].values.reshape(sarahJournal.shape[0], 1)
inthungry = sarahJournal.iloc[:, 34].values.reshape(sarahJournal.shape[0], 1)
intbored = sarahJournal.iloc[:, 35].values.reshape(sarahJournal.shape[0], 1)
exercise = sarahJournal.iloc[:, 36].values.reshape(sarahJournal.shape[0], 1)
thesis = sarahJournal.iloc[:, 37].values.reshape(sarahJournal.shape[0], 1)
sally = sarahJournal.iloc[:, 38].values.reshape(sarahJournal.shape[0], 1)
barb = sarahJournal.iloc[:, 39].values.reshape(sarahJournal.shape[0], 1)
sol = sarahJournal.iloc[:, 40].values.reshape(sarahJournal.shape[0], 1)
arash = sarahJournal.iloc[:, 41].values.reshape(sarahJournal.shape[0], 1)
work = sarahJournal.iloc[:, 42].values.reshape(sarahJournal.shape[0], 1)
home = sarahJournal.iloc[:, 43].values.reshape(sarahJournal.shape[0], 1)


sarahJournal.head(5)

,starttime,endtime,date,start,end,activity,location,generalemo,qualitative,excited,...,inthungry,intbored,exercise,thesis,sally,barb,home,sol,arash,work
0,2016-04-22 13:48:00,2016-04-22 16:12:00,4/22/16,1:48:00 PM,4:12:00 PM,writing thesis,barb's office,anxious,6,0,...,0,0,False,True,False,False,False,False,False,True
1,2016-04-22 16:12:00,2016-04-22 17:15:00,4/22/16,4:12:00 PM,5:15:00 PM,writing thesis,barb's office,anxious,6,0,...,0,0,False,True,False,False,False,False,False,True
2,2016-04-22 17:15:00,2016-04-22 19:05:00,4/22/16,5:15:00 PM,7:05:00 PM,eating russian dumplings with annie then watch...,5th floor lounge,happy,10,0,...,0,0,False,False,False,False,False,False,False,False
3,2016-04-22 19:05:00,2016-04-22 19:15:00,4/22/16,7:05:00 PM,7:15:00 PM,photofeast,3rd floor,excited/anxious,3-May,0,...,0,0,False,False,False,False,False,False,False,False
4,2016-04-22 19:15:00,2016-04-22 19:25:00,4/22/16,7:15:00 PM,7:25:00 PM,naked picture of charles in photofeast,3rd floor,what can only be described as traumatic shock,10,0,...,0,0,False,False,False,False,False,False,False,False

In [110]:
# sarahJournal.dtypes

In [111]:
# sarahJournal.excited.convert_objects(convert_numeric=True)

In [112]:
# function that takes any journal or activity data and creates indicators for activities or emotions

def makeIndicators(newvar, metricData, journalData, journal_startdatetime_loc, journal_enddatetime_loc, journal_activity_loc):
    '''
    Create boolean indicator variable for activities or emotions
    newvar, string for name of new indicator variable
    activity, string that matches the name of the activity or emotion in the journalData data frame
    bioData, data frame of input biometric data
    journalData, data frame of input journal or activity data
    journal_startdatetime_loc, int of position of the start datetime in journalData
    journal_enddatetime_loc, int of position of the end datetime in journalData
    journal_activity_loc, int of position of the activity or emotion in journalData
    '''

    metricData[newvar] = False

    for i in range(0, journalData.shape[0]):
        metricData['xlt'] = (metricData['timestamp'] >= pd.to_datetime(journalData.iloc[i, journal_startdatetime_loc]))
        metricData['xgt'] = (metricData['timestamp'] <= pd.to_datetime(journalData.iloc[i, journal_enddatetime_loc]))
#         metricData['xw'] = (journalData.iloc[i, journal_activity_loc])
        metricData['xw'] = (journalData.iloc[i, journal_activity_loc] == True)
        metricData['xsum'] = metricData['xlt'].astype(int) + metricData['xgt'].astype(int) + metricData['xw'].astype(int)
        metricData.loc[metricData['xsum']==3, newvar] = True
    
    metricData = metricData.drop(['xlt', 'xgt', 'xw', 'xsum'], axis=1)
    return metricData

In [116]:
# indicator for walking
totalData = makeIndicators('excitement', sarahMetrics, sarahJournal, 0, 1, 18)
totalData = makeIndicators('happy', sarahMetrics, sarahJournal, 0, 1, 19)
totalData = makeIndicators('calm', sarahMetrics, sarahJournal, 0, 1, 20)
totalData = makeIndicators('anxious', sarahMetrics, sarahJournal, 0, 1, 21)
totalData = makeIndicators('sad', sarahMetrics, sarahJournal, 0, 1, 22)
totalData = makeIndicators('angry', sarahMetrics, sarahJournal, 0, 1, 23)
totalData = makeIndicators('hungry', sarahMetrics, sarahJournal, 0, 1, 24)
totalData = makeIndicators('tired', sarahMetrics, sarahJournal, 0, 1, 25)
totalData = makeIndicators('bored', sarahMetrics, sarahJournal, 0, 1, 26)

totalData = makeIndicators('exercise', sarahMetrics, sarahJournal, 0, 1, 36)
totalData = makeIndicators('thesis', sarahMetrics, sarahJournal, 0, 1, 37)
totalData = makeIndicators('sally', sarahMetrics, sarahJournal, 0, 1, 38)
totalData = makeIndicators('barb', sarahMetrics, sarahJournal, 0, 1, 39)
totalData = makeIndicators('sol', sarahMetrics, sarahJournal, 0, 1, 40)
totalData = makeIndicators('arash', sarahMetrics, sarahJournal, 0, 1, 41)
totalData = makeIndicators('work', sarahMetrics, sarahJournal, 0, 1, 42)
totalData = makeIndicators('home', sarahMetrics, sarahJournal, 0, 1, 43)

In [117]:
print(totalData.describe())

          heartrate         steps      calories           gsr      skintemp  \
count  18540.000000  18540.000000  18540.000000  18540.000000  18540.000000
mean      81.698058      8.188080      1.737449      0.042450     82.748549
std       28.134934     25.363245      8.760419      0.403378     23.151163
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       69.000000      0.000000      1.000000      0.000053     86.000000
50%       85.000000      0.000000      1.100000      0.000061     88.700000
75%       98.000000      0.000000      1.700000      0.000078     91.400000
max      168.000000    695.000000   1167.400020     10.500000     97.700000

            airtemp excitement      happy      calm   anxious    ...     \
count  18540.000000      18540      18540     18540     18540    ...
mean      79.519180  0.0108414  0.0307443  0.135761  0.197843    ...
std       22.483904   0.103559   0.172629  0.342543  0.398383    ...
min        0.000000      False      False     False     False    ...
25%       81.500000          0          0         0         0    ...
50%       85.100000          0          0         0         0    ...
75%       88.700000          0          0         0         0    ...
max       97.700000       True       True      True      True    ...

           bored activity   exercise     thesis       sally        barb  \
count      18540    18540      18540      18540       18540       18540
mean   0.0529126        0  0.0223301  0.0378641  0.00480043  0.00177994
std     0.223865        0   0.147759   0.190873   0.0691205   0.0421529
min        False        0      False      False       False       False
25%            0        0          0          0           0           0
50%            0        0          0          0           0           0
75%            0        0          0          0           0           0
max         True        0       True       True        True        True

            sol      arash      work      home
count     18540      18540     18540     18540
mean   0.181661  0.0158576  0.018932  0.028479
std    0.385576   0.124928  0.136289  0.166341
min       False      False     False     False
25%           0          0         0         0
50%           0          0         0         0
75%           0          0         0         0
max        True       True      True      True

[8 rows x 24 columns]

In [118]:
print(totalData.head())

            timestamp  heartrate  steps  calories  gsr  skintemp  airtemp  \
0 2016-04-22 00:00:00          0      0         0    0         0        0
1 2016-04-22 00:01:00          0      0         0    0         0        0
2 2016-04-22 00:02:00          0      0         0    0         0        0
3 2016-04-22 00:03:00          0      0         0    0         0        0
4 2016-04-22 00:04:00          0      0         0    0         0        0

  excitement  happy   calm  ...    bored activity exercise thesis  sally  \
0      False  False  False  ...    False        0    False  False  False
1      False  False  False  ...    False        0    False  False  False
2      False  False  False  ...    False        0    False  False  False
3      False  False  False  ...    False        0    False  False  False
4      False  False  False  ...    False        0    False  False  False

    barb    sol  arash   work   home
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False

[5 rows x 25 columns]

In [108]:
totalData.to_csv('testbio.csv')

In [119]:
totalData.head(5)

,timestamp,heartrate,steps,calories,gsr,skintemp,airtemp,excitement,happy,calm,...,bored,activity,exercise,thesis,sally,barb,sol,arash,work,home
0,2016-04-22 00:00:00,0,0,0,0,0,0,False,False,False,...,False,0,False,False,False,False,False,False,False,False
1,2016-04-22 00:01:00,0,0,0,0,0,0,False,False,False,...,False,0,False,False,False,False,False,False,False,False
2,2016-04-22 00:02:00,0,0,0,0,0,0,False,False,False,...,False,0,False,False,False,False,False,False,False,False
3,2016-04-22 00:03:00,0,0,0,0,0,0,False,False,False,...,False,0,False,False,False,False,False,False,False,False
4,2016-04-22 00:04:00,0,0,0,0,0,0,False,False,False,...,False,0,False,False,False,False,False,False,False,False

In [121]:
# find day of week (0-6, Mon-Sun)
totalData['weekday'] = totalData['timestamp'].dt.weekday
totalData['month'] = totalData['timestamp'].dt.month
totalData['hour'] = totalData['timestamp'].dt.hour
totalData['min'] = totalData['timestamp'].dt.minute

totalData.head(5)

,timestamp,heartrate,steps,calories,gsr,skintemp,airtemp,excitement,happy,calm,...,arash,work,home,DayOfWeek,Month,Year,weekday,month,hour,min
0,2016-04-22 00:00:00,0,0,0,0,0,0,False,False,False,...,False,False,False,4,4,2016,4,4,0,0
1,2016-04-22 00:01:00,0,0,0,0,0,0,False,False,False,...,False,False,False,4,4,2016,4,4,0,1
2,2016-04-22 00:02:00,0,0,0,0,0,0,False,False,False,...,False,False,False,4,4,2016,4,4,0,2
3,2016-04-22 00:03:00,0,0,0,0,0,0,False,False,False,...,False,False,False,4,4,2016,4,4,0,3
4,2016-04-22 00:04:00,0,0,0,0,0,0,False,False,False,...,False,False,False,4,4,2016,4,4,0,4

In [126]:
heartrate = totalData.iloc[:, 1].values.reshape(totalData.shape[0], 1)
steps = totalData.iloc[:, 2].values.reshape(totalData.shape[0], 1)

In [127]:
# concatenate to numpy dataset
X = np.concatenate((
        heartrate, 
        steps), axis=1)

X.shape

(18540, 2)

In [128]:
# define y
y = totalData.excitement.values
y.shape

(18540,)

In [129]:
# create training and test sets
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
         X, y, test_size=0.3, random_state=0)

In [130]:
# feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler(with_mean=False)
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

In [131]:
# report on training and test sets
def print_results():
    print('Error rate on training set: ')
    print((y_train != y_pred).sum() / X_train.shape[0])
    print('Accuracy rate on training set: ')
    print(1 - (y_train != y_pred).sum() / X_train.shape[0])
    print('True positive rate on training set:')
    print(((y_train==True) & (y_pred==True)).sum() / y_train.sum())
    print('**************')
    print('Error rate on test set: ')
    print((y_test != y_pred_test).sum() / X_test.shape[0])
    print('Accuracy rate on test set: ')
    print(1 - (y_test != y_pred_test).sum() / X_test.shape[0])
    print('True positive rate on test set')
    print(((y_test==True) & (y_pred_test==True)).sum() / y_test.sum())
    print('True negative rate on test set')
    print(((y_test==False) & (y_pred_test==False)).sum() / (y_test.shape[0] - y_test.sum()))

In [132]:
# MODEL: SVM, linear
from sklearn import linear_model
clf = linear_model.SGDClassifier()
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0111727538912
Accuracy rate on training set:
0.988827246109
True positive rate on training set:
0.0
**************
Error rate on test set:
0.0100683207479
Accuracy rate on test set:
0.989931679252
True positive rate on test set
0.0
True negative rate on test set
1.0

In [133]:
# MODEL: logistic regression
from sklearn import linear_model
clf = linear_model.SGDClassifier(loss='log', n_iter=50, alpha=0.00001)
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0111727538912
Accuracy rate on training set:
0.988827246109
True positive rate on training set:
0.0
**************
Error rate on test set:
0.0100683207479
Accuracy rate on test set:
0.989931679252
True positive rate on test set
0.0
True negative rate on test set
1.0

In [134]:
# MODEL: Naive Bayes
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0111727538912
Accuracy rate on training set:
0.988827246109
True positive rate on training set:
0.00689655172414
**************
Error rate on test set:
0.0100683207479
Accuracy rate on test set:
0.989931679252
True positive rate on test set
0.0
True negative rate on test set
1.0

In [135]:
# Perceptron
from sklearn import linear_model
clf = linear_model.SGDClassifier(loss='perceptron')
clf.fit(X_train_std, y_train)
y_pred = clf.fit(X_train_std, y_train).predict(X_train_std)
y_pred_test = clf.predict(X_test_std)
print_results()

Error rate on training set:
0.0111727538912
Accuracy rate on training set:
0.988827246109
True positive rate on training set:
0.00689655172414
**************
Error rate on test set:
0.0100683207479
Accuracy rate on test set:
0.989931679252
True positive rate on test set
0.0
True negative rate on test set
1.0